body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00B7FF;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-right: 80px;
}

.chart text {
  font: 10px sans-serif;
}

.bar text {
  font: 10px sans-serif;
  text-anchor: end;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

// .axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke-width: 1px;
  stroke: #000;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  text-anchor: start;
}
